services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookclub
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  flask_api:
    build: .
    container_name: flask_api
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: bookclub
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  db_data:
